 <div class='row'>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/1.jpg'>
    </div>
    <div class='col-md-4 '>
      <div><img class='img img-responsive' src='../images/2.jpg'></div>
    </div>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/3.jpg'>
    </div>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/4.jpg'>
    </div>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/5.jpg'>
    </div>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/6.jpg'>
    </div>
     
  </div>
