<br/><br/><br/><br/>
<div class='row'>
<div class='col-md-4'></div>
<div class='col-md-4' >
<div id="reviewdiv">
<h3> Your Order Has Been Placed </h3>
<hr>

<h5> Thank you for buying from <h2 style='font-family:windings; color:green'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Closet.</h2> </h5>

<br>


<h5>Your order should arrive in 2 weeks. </h5>

<h6>Thank you.</h6>
    <br><br>
</div>

<a href="#/"><button>Continue Shopping</button></a>
<br><br>
</div>
<div class='col-md-4'>

</div>
</div>