 <div class='row'>
  <div class='col-md-12'>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
       <h3> Visit Us</h3></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div style="background-color:lightblue;"class="panel-body">
        <i>
          <h4 style="font-family:Caviar Dreams;">
               The Closet
              <br><br>
               6430 Gage Ave
               <br><br>
              Bell Gardens,CA-90201</h4>

           </i>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        <h3>Send Us An Email</h3></a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div style="background-color:lightblue;" class="panel-body">brijesh1014@gmail.com
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        <h3>Give Us a Call</h3></a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div style="background-color:lightblue;" class="panel-body">01-562-927-800
     </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
       <h3> Store Hours</h3></a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div style="background-color:lightblue;" class="panel-body">
        <i><h4 style="font-family:Caviar Dreams;">10:00 AM - 6:00 PM MON-FRI
               10:00 AM - 5:00 PM SAT
               11.00 PM - 5.00 PM SUN</h4></i>
      </div>
    </div>
  </div>
</div> 
</div>
</div>
<div class='row'>
<div class='col-sm-2 col-md-4 col xs-4'></div>
<div class='col-sm-4 col-md-4 col xs-4'>
<img style="width:100%;height:100%" class="img-responsive" src="images/map.jpg">
</div>
<div class='col-sm-4 col-md-4 col xs-4'></div>
</div>
















