
<div class="row">

  
<br><br>
  <!-- Modal -->
  <div class='col-md-1 col-sm-1 col-xs-1'></div>

  <div class='col-md-2 col-sm-2 col-xs-2'>
    <img src='images/left-arrow.gif' ng-click="pre()" style='width:20%;margin:70% 0px 0px 0px'>
  </div>

  <div class='col-md-6 col-sm-6 col-xs-6'>
    <img  style="margin:0px 0px 0px 15%" width='60%' src="images/{{formalImages[ind]}}" alt=" " class="img-responsive" >
  </div>



<div class='col-md-2 col-sm-2 col-xs-2'>
<img src='images/right-arrow.gif' ng-click="next()" style='width:20%;margin:70% 0px 0px 0px'>
    

</div>
<div class='col-md-1 col-sm-1 col-xs-1'></div>

</div>

<div class="row">
  <div class='col-md-5 col-sm-5 col-xs-5'></div>
  <div class='col-md-2 col-sm-2 col-xs-2'>

  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info" style='color:black' data-toggle="modal" data-target="#myModal">View the details</button>
  <br><br>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Why you should buy this</h4>
        </div>
        <div class="modal-body">
          <p>
          You will surely set hearts aflutter when you drape this multicoloured saree from the latest collection of Satya Paul. Featuring an eye-catching print and a charming colour scheme, it will make you a showstopper. Made of georgette, it is lightweight and easy to carry. <br><br>
          <strong> Fit Regular<br><strong><br>
            Color: Multi<br>
          Fabric Details:  Georgette<br>
          SKU: SA190WA90BMFINDFAS </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </div>
  <div class='col-md-5 col-sm-5 col-xs-5'></div>
</div>
<!--
{{productinfo}}
-->