
  

  

  <div class='row'>
      <video id='video' style='margin:0px 0px 0px 15%' width="70%" height="auto" muted>
      <source src="../images/intro.mp4" type="video/mp4">
  
       Your browser does not support the video tag.
      </video>
  </div>
  <br><br><br>
  <hr>

  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-5'>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <img class='img img-responsive' src='../images/casual7-2.jpg'>
    </div>
    <div class="back">
      <img class='img img-responsive' src='../images/casual7-1.jpg'>
    </div>
  </div>
</div>
      
    </div>
    <div class='col-md-6 '>
      <div style='margin:30% 0px 10% 0px;width:100%'><img class='img img-responsive' src='../images/dress-sale.jpg'>
    </div>
  </div>
</div>
  <div class='row'>
    <div class='col-md-1'></div>
  <div class='col-md-3' style='margin:10% 0px 0px 0px'>
  
  <img class='img img-responsive' src='../images/dress-sale2.jpg'>
</div>
  <div class='col-md-5'>

   
 <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <img class='img img-responsive' src='../images/casual6-2.jpg'>
    </div>
    <div class="back">
      <img class='img img-responsive' src='../images/casual6-1.jpg'>
    </div>
  </div>
</div>














 </div> 
  
  <div class='col-md-3'>
<img class='img img-responsive' src='../images/casual2.jpg'>
  </div>
  </div>

  <div class='row' style="font-size:10px;font-family:windings;color:grey;">
    
      <div class='navbar navbar-inverse' style='padding:2% 0px 2% 0px'>
        <div class=' col-lg-2 col-md-2 col-sm-2 col-xs-2'></div>
          <div class=' col-lg-2 col-md-2 col-sm-2 col-xs-2'>
            <ul style='list-style-type:none'>
              <li><strong>COMPANY</strong></li><br>
              <li>ABOUT US</li>
              <li>CAREERS</li>
              <li>AFFILIATE PROGRAMS</li>
              <li>SOCIAL RESPONSIBILITY</li>
              <li>BUSINESS WITH US</li>
              <li>PRESS AND TALENT</li>
              <li>NEWSROOM</li>
            </ul>
          </div>
          <div class=' col-lg-2 col-md-2 col-sm-2 col-xs-2'>
                <ul style='list-style-type:none'>
              <li><strong>HELP</strong></li><br>
              <li>CONTACT US</li>
              <li>TRACK ORDERS</li>
              <li>FAQ'S</li>
              <li>SHIPPING INFO</li>
              
            </ul>
          </div>
          <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'>
                <ul style='list-style-type:none'>
              <li><strong>TRENDING</strong></li><br>
              
              <li>DRESS</li>
              <li>SHOES</li>
              <li>KIMONO</li>
              <li>CROP TOP</li>
              <li>FORMALS</li>
              
            </ul>
          </div>
          <div class='col-lg-5 col-md-5 col-sm-5 col-xs-5'>
           
                <img class='img img-responsive' src='../images/social.jpg'>
                <h5>Sign up for price alerts</h5>
                <input  style='outline:red;width:30%;background:black;color:black' class='form-control' placeholder='Enter your email here'>
                
          </div>
           
      </div>
    
  </div>








