
  

  <div class='row' style='font-size:25px;font-family:Caviar Dreams;text-align:center'>
    <div class='col-md-3 col-sm-4 col-xs-3' >
      Trendy
    </div>
    <div class='col-md-3 col-sm-3 col-xs-3'>
      Formals
    </div>
    <div class='col-md-3 col-sm-3 col-xs-3'>
      Casuals
    </div>
    <div class='col-md-3 col-sm-3 col-xs-3'>
      Accessories
    </div>
  </div>

  <div class='row'>
      <video id='video' style='margin:0px 0px 0px 15%' width="70%" height="auto" muted>
      <source src="../images/intro.mp4" type="video/mp4">
  
       Your browser does not support the video tag.
      </video>
  </div>
  <hr>

  <div class='row'>
    <div class='col-md-8 '>
      
      <img class='img img-responsive' src='../images/casual7-2.jpg'>
    </div>
    <div class='col-md-4 '>
      <div style='margin:50% 0px 0px 0px'><img class='img img-responsive' src='../images/sari2.jpg'></div>
    </div>
  </div>








