
 <!doctype html>
<html>
<head>
  <title>D3 Carousel</title>
  <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
  <script src="../scripts/controllers/sale.js"></script>
</head>
<body>
  <div class="container">
  <div class='row' style="background:grey;text-align:center;margin:5% 0px 0px 0px;font-size:20px"><h1>All these items are 20% OFF ! HURRY !</h1>
    <br><br>

    <a href='../index.html'><button>Back to Home page</button></a><br><br></div>

    <div class="row" style="text-align:center;">
      <div id="images"></div>
    </div>
    <div class="row">
      <div class="span6" style="text-align:right;">
      <a href="#" id="left" class="btn">Previous</a>
      </div>
      <div class="span6" style="text-align:left;">
      <a href="#" id="right" class="btn">Next</a>

      </div>
    </div>

    </div> <!-- /container -->
</body>
</html>